"$schema" = 'https://starship.rs/config-schema.json'

add_newline = false

command_timeout = 10000

[aws]
symbol = " "

[bun]
symbol = " "

[c]
symbol = " "

[cpp]
symbol = " "

[directory]
read_only = " 󰌾"

[docker_context]
symbol = " "

[git_branch]
symbol = " "

[git_commit]
tag_symbol = '  '

[golang]
symbol = " "

[gradle]
symbol = " "

[java]
symbol = " "

[kotlin]
symbol = " "

[lua]
symbol = " "

[memory_usage]
symbol = "󰍛 "

[nix_shell]
symbol = " "

[nodejs]
symbol = " "

[os]
style = "bold cyan"
disabled = false

[os.symbols]
Amazon = "  "
NixOS = "  "
Ubuntu = "  "
Windows = "󰍲  "

[package]
symbol = "󰏗 "
disabled = true

[python]
symbol = " "
style = "bold blue"

[rust]
symbol = "󱘗 "

[scala]
symbol = " "

[status]
symbol = " "

[zig]
symbol = " "
